header {
    min-height: 35px;
    border-bottom: $dash;
}
%nav-padding {
    margin: 10px 12px;
}
%nav-label {
    margin: 10px 12px 10px 0px;
}
%nav-element-properties {
    font-family: $font-family-sans-serif;
    font-style: normal;
    text-decoration: none;
    color: #666666;
    &:hover {
        @extend %hover-color;
    }
    &:active {
        @extend %hover-color;
    }
}

header nav {
    @extend %flex-base-row;
}
.heading {
    &__label{
        @extend %nav-label;
        @extend %nav-element-properties;
        font-weight: 200;
        font-size: 18px;
        line-height: 18px;
    }
    &-other {
        &__container {
            @extend %flex-base-row;
        }
        &__element {
            @extend %nav-padding;
            @extend %nav-element-properties;
            font-weight: 400;
            font-size: 16px;
            line-height: 15px;
        }
    }
}
