// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Lato', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$dash: 1px dashed #EEEEEE;

%hover-color {
    color: #8FC4B7;
}
%visited-color {
    color: #3a6e61;
}
%flex-base-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
