// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

// Variables
@import 'variables';
@import 'heading';

body {
    background: #f9f9f9;
}
.ctr {
    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */
    max-width: 668px; /* 2 */
    padding-right: 20px; /* 3 */
    padding-left:  20px; /* 3 */
    &--main {
        margin-top: 35px;
        margin-bottom: 35px;
    }
}
.card {
    &__container {
        @extend %flex-base-row;
    }
    &__box {
        width: 100%;
        min-height: 81px;
        padding: 4px;
        display: flex;
        border: $dash;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            left: -8px;
            top: 0;
            height: 100%;
            width: 4px;
            background-color: transparent;
        }
        &:hover{
            &:after{
                background-color: #95CCFF;
            }
        }
    }
    &__title {
        margin: 0;
        font-size: 16px;
        font-weight: 500;
        font-family: $font-family-sans-serif;
        a {
            color: #000000;
            text-decoration: none;
            &:visited {@extend %visited-color;}
            &:hover {@extend %hover-color;}
            &:active {@extend %hover-color;}
        }
    }
    &__text {
        margin: 0;
        font-size: 15px;
        font-weight: 300;
        font-family: $font-family-sans-serif;
    }
    &__wrapper {
        padding-left: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        font-family: $font-family-sans-serif;
    }
    &__date{
       font-size: 10px;
       color: #666666;
    }
    &__views{
        font-size: 12px;
        color: #666666;
    }
    &__preview {
        height: 80px;
        width: 80px;
        background: url('https://s3-alpha-sig.figma.com/img/1028/a912/f996ac3aee715cd9eea905fcddcf376b?Expires=1571011200&Signature=T0OHIBhx3A7U5iwXfeikG37gFVGtPZVaGMOUFGAbw7RHtGDdO9KQKqeStvRQE3hZGUCKg~UTzMZtkH8rvgZ27gMOuJVTn6FWM5cxLWJrC82U0wRSHpqKicYwPYotaOp7UNJKGyf5LhfOtrLqUc7036Q~GB5YVovBEc~A8n5uKNbP3nPT186gv1-xPaejKbXM9SVg9mfv5Crv~fULk6JUbbbRqJ3P59xWsnkm1ALFmWnedEoMjohdWe~9fc-oOK5NGPRCTq-CCVqVbzrlbmLa8W8Xyx3fB6QrNIO-SKVJc4~vj6DtcpwdiVnDnEaJIst2Sv1HFSp6MsKeEykjMNMlOA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA');
        background-color: #E5E5E5;
        background-size: contain;
        background-position: center;
        flex-basis: 80px;
        flex-shrink: 0;
    }
}
