@import url(https://fonts.googleapis.com/css?family=Lato&display=swap);.card__title a:active,
.card__title a:hover,
.heading-other__element:active,
.heading__label:active,
.heading-other__element:hover,
.heading__label:hover {
  color: #8FC4B7;
}

.card__title a:visited {
  color: #3a6e61;
}

.card__container,
.heading-other__container,
header nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

header {
  min-height: 35px;
  border-bottom: 1px dashed #EEEEEE;
}

.heading-other__element {
  margin: 10px 12px;
}

.heading__label {
  margin: 10px 12px 10px 0px;
}

.heading-other__element,
.heading__label {
  font-family: "Lato", sans-serif;
  font-style: normal;
  text-decoration: none;
  color: #666666;
}

.heading__label {
  font-weight: 200;
  font-size: 18px;
  line-height: 18px;
}

.heading-other__element {
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
}

body {
  background: #f9f9f9;
}

.ctr {
  margin-right: auto;
  /* 1 */
  margin-left: auto;
  /* 1 */
  max-width: 668px;
  /* 2 */
  padding-right: 20px;
  /* 3 */
  padding-left: 20px;
  /* 3 */
}

.ctr--main {
  margin-top: 35px;
  margin-bottom: 35px;
}

.card__box {
  width: 100%;
  min-height: 81px;
  padding: 4px;
  display: flex;
  border: 1px dashed #EEEEEE;
  position: relative;
}

.card__box:after {
  content: "";
  position: absolute;
  left: -8px;
  top: 0;
  height: 100%;
  width: 4px;
  background-color: transparent;
}

.card__box:hover:after {
  background-color: #95CCFF;
}

.card__title {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  font-family: "Lato", sans-serif;
}

.card__title a {
  color: #000000;
  text-decoration: none;
}

.card__text {
  margin: 0;
  font-size: 15px;
  font-weight: 300;
  font-family: "Lato", sans-serif;
}

.card__wrapper {
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.card__footer {
  display: flex;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
}

.card__date {
  font-size: 10px;
  color: #666666;
}

.card__views {
  font-size: 12px;
  color: #666666;
}

.card__preview {
  height: 80px;
  width: 80px;
  background: url("https://s3-alpha-sig.figma.com/img/1028/a912/f996ac3aee715cd9eea905fcddcf376b?Expires=1571011200&Signature=T0OHIBhx3A7U5iwXfeikG37gFVGtPZVaGMOUFGAbw7RHtGDdO9KQKqeStvRQE3hZGUCKg~UTzMZtkH8rvgZ27gMOuJVTn6FWM5cxLWJrC82U0wRSHpqKicYwPYotaOp7UNJKGyf5LhfOtrLqUc7036Q~GB5YVovBEc~A8n5uKNbP3nPT186gv1-xPaejKbXM9SVg9mfv5Crv~fULk6JUbbbRqJ3P59xWsnkm1ALFmWnedEoMjohdWe~9fc-oOK5NGPRCTq-CCVqVbzrlbmLa8W8Xyx3fB6QrNIO-SKVJc4~vj6DtcpwdiVnDnEaJIst2Sv1HFSp6MsKeEykjMNMlOA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
  background-color: #E5E5E5;
  background-size: contain;
  background-position: center;
  flex-basis: 80px;
  flex-shrink: 0;
}

